@import url('navbar.css');

* {
    box-sizing: border-box;
    font-family: 'cairo play', 'roboto', sans-serif;
}

h1 {
    font-weight: bold;
}

ul {
    margin: 0;
    height: 100px;
}

footer {
    margin-top: 15%;

    p {
        text-align: center;
        font-size: 14px;
        color: purple;
    }

}

.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.stick {
    position: sticky;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 4;
}

button {
    background-color: rgb(109, 109, 254);
    border:0px;
    width: 120%;
    font-size: larger;
    cursor: pointer;
    border-radius: 15px;

    a {
        text-decoration: none;
        color: aliceblue;
    }

    &:hover {
        background-color: blue;
        cursor: pointer;
    }

    h2 {
        color: rgb(40, 0, 77);

        &:hover {
            color: #494949;
        }
        &::after {
            content: "_";
            color: red;
            font-weight: bold;
            font-size: 1.5em;
            animation: blink 0.5s infinite;
        }
    }
}

audio {
    z-index: 0;
}

.main {
    padding: 5%;
}

p {    
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#redes-sociales {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}