.card {
    margin-top: 20px;
}

.loginButton {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    width: 100% !important;

    &:hover {
        color: rgb(235, 235, 235);
    }
}