.card {
    margin-bottom: 20px;
    border-radius: 15px;
  }

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.row {
  margin-top: 10px;
  justify-content: center;
  }

.container {
  margin-top: 20px;
  }

.btn-primary {
  width: 100%;
  background-color: rgb(23, 165, 23);
  }

.input-number {
  text-align: center;
  }

input {
  border-radius: 20px !important;
  }

.card-body {
  display: flex !important;
  flex-direction: column !important;
  }

.card-body>.input-group {
  width: 50% !important;
  margin: 0 auto !important;
  margin-bottom: 10px !important;

  
}

.price {
  color: gray;
  text-decoration: line-through;
}

.card-precios {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :nth-child(2) {
    color: red;
  }
}

.discount-price {
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: #FF5733;
  color: white;
  padding: 5px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
}



@media screen and (min-width: 576px) {
  .card-body>.input-group {
    width: 100% !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .card-text {
    font-size: 16px;
  }
}